.blog-footer {
    display: block;
    padding: 2.5rem 0;
    color: #999;
    text-align: center;
    background-color: #f9f9f9;
    border-top: .05rem solid #e5e5e5;
}
.blog-footer p:last-child {
    margin-bottom: 0;
}
.foot {
    margin-top: 200px;
}
pre {
    background-color: #f7f7f7;
    padding: 10px;
    font-size: 100%;
    color: #212529;
}

ul a{
    color: #212529;
}